@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
    ::-webkit-scrollbar {
        width: 12px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 50vh;
        background: #cae000d0;
    }

    ::-webkit-scrollbar-thumb {
        background: #c99c9c;
        border-radius: 100vh;
        border: 1px solid #f6f7ed;
    }


}