@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        /* border-radius: 100vh; */
        background: #0b0d0c;
        /* margin-block: .5em; */
    }

    .scrollbar_track::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #0b0d0c;
        margin-block: .5em;

    }

    ::-webkit-scrollbar-thumb {
        background: #6ec02b;
        border-radius: 100vh;
        border: 1px solid #0b0d0c;
    }

    @supports (scrollbar-color: red blue) {
        * {
            scrollbar-color: #6ec02b #0b0d0c;
            scrollbar-width: thin;
        }
    }
}