@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f6f7ed;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #c99c9c;
        border-radius: 100vh;
        border: 1px solid #f6f7ed;
    }


}