.DS_Store
node_modules
/dist

*.log
*.pot
*.pyc
/AR_django/AR_django/__pycache__
/AR_django/AR_django/local_settings.py
/AR_django/AR_django/db.sqlite3
/AR_django/AR_django/media

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
